<div id="mobile-header">
  <a id="responsive-menu-button" href="#sidr-main" class="btn btn-charcoal btn-sq" data-no-turbolink ><span class="fa fa-navicon icon-spacer"></span>CATEGORIAS</a>
</div>

<div id="navigation">
  <nav class="nav">
    <ul>
      <li><a href="#">Celulares</a></li>
      <li><a href="#">Tablets</a></li>
      <li><a href="#">Notebooks</a></li>
      <li><a href="#">Desktop</a></li>
      <li><a href="#">Acc. Computación</a></li>
      <li><a href="#">TV</a></li>
      <li><a href="#">Consolas y Acc.</a></li>
      <li><a href="#">Fotografía</a></li>
      <li><a href="#">Audio</a></li>
    </ul>
  </nav>
</div>

<script>
  $(document).ready(function() {
    $('#navigation').sidr();
  });

  $(function() {
   initPage();
  
  });
$(window).bind('page:change', function() {
  initPage();
  })
</script>

