<!-- Navigation Bloc -->
<div class="bloc bgc-charcoal d-bloc" id="nav-bloc">
  <div class="container bloc-sm">
    <nav class="navbar row">
      <div class="navbar-header">
        <%= link_to root_path do %>
            <%= image_tag "https://s3-us-west-2.amazonaws.com/cuantopido/loguito.png", :width => "200", :alt => "logo" %>
        <% end %>
        <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-1">
        <ul class="site-navigation nav navbar-nav">

        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- Navigation Bloc END -->