<!--QUIENES SOMOS-->
<div class="modal fade" id="como_funciona" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bgc-charcoal">
        <h4 class="mg-clear tc-white text-center">
          Cómo funciona?
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Right, okay, so right around 9:00 she's gonna get very angry with me. You cost three-hundred buck damage to my car, you son-of-a-bitch. And I'm gonna take it out of your ass. Hold him. What Lorraine, what? Let's go.  Alright, let's set your
          destination time. This is the exact time you left. I'm gonna send you back at exactly the same time. It's be like you never left. Now, I painted a white line on the street way over there, that's where you start from. I've calculated the distance and
          wind resistance fresh to active from the moment the lightning strikes, at exactly 7 minutes and 22 seconds. When this alarm goes off you hit the gas.
          <br><br>
          You broke it. Wow, look at him go. I need fuel. Go ahead, quick, get in the car. Shut your filthy mouth, I'm not that kind of girl. Whoa, whoa, okay. I guarantee it.
          <br><br>
          Hey beat it, spook, this don't concern you. Right, okay, so right around 9:00 she's gonna get very angry with me. Can't be. This is nuts. Aw, c'mon. Well, bring her along. This concerns her too. Hello.
          <br>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sq btn-charcoal" data-dismiss="modal"><span class="fa fa-close icon-spacer"></span> Cerrar</button>
      </div>
    </div>
  </div>
</div>