<%= render :partial => 'partials/menu_gral' %>
<!-- bloc-5 -->
<div class="bloc bgc-anti-flash-white d-bloc" id="bloc-5">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="mg-clear text-center tc-orange">
          <strong>INGRESAR PRODUCTO</strong>
        </h3>
      </div>
    </div>
  </div>
</div>
<!-- bloc-5 END -->

<%= render 'form' %>



</div>
</div>